@import './pages//Landing.scss';
@import './components/Navigation/Navigation.scss';
@import './components/Offers/Offers.scss';
@import './components//Guarantee/Guarantee.scss';

.landing {
  min-height: 100vh;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)),
    url('./assets/background.jpg');
  background-size: cover;
}
