@import './pages//Landing.scss';
@import './components/Navigation/Navigation.scss';
@import './components/Offers/Offers.scss';

.landing {
  height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}
