.countdown {
  &__container {
    width: 45%;
    color: #fff;

    .btn {
      color: #fff;
      font-size: 0.8rem;
      width: 15rem;
      border-radius: 0.5rem;
      height: 3rem;
      background-color: #cf4064;
      text-transform: uppercase;
      font-weight: 600;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__header {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.countdown__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  align-items: center;
  li {
    text-align: center;
    position: relative;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;

    span {
      font-size: 0.6rem;
      text-transform: uppercase;
      display: block;
    }
  }

  .arrows {
    color: #cf4064;
    font-size: 0.8rem;
  }
}

.offers {
  &__container {
    width: 45%;
    color: #fff;
  }

  &__offer {
    display: flex;
    flex: row wrap;
    align-items: center;
    margin-top: -1rem;
    justify-content: flex-end;
    padding: 2rem;

    &--aside1 {
      font-weight: 700;
      font-size: 6rem;
    }

    &--number {
      position: relative;
      margin: 0px 1rem;
      display: inline-block;
      font-weight: 700;
      font-size: 18rem;

      span:first-child {
        position: absolute;
        font-size: 1rem;
        display: block;
        text-align: center;
        top: 18%;
        left: 50%;
        margin-top: 4px;
        transform: translateX(-50%) translateY(-50%);
        background-color: #cf5d7a;
        padding: 0.3rem;
      }
      span:nth-child(2) {
        font-size: 1rem;
        position: absolute;
        display: block;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);
        top: 24%;
        left: 50%;
        color: #cf5d7a;
      }
    }

    &--aside2 {
      display: flex;
      flex-direction: column;

      :first-child {
        font-weight: 700;
        font-size: 4rem;
      }

      :nth-child(2) {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 920px) {
  .countdown {
    &__container {
      text-align: center;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  .offers {
    &__container {
      display: flex;
      justify-content: center;
    }
  }
}
